/**
==============
LAYOUT
==============
*/
.close-nav {
  display: none;
}
.open-nav {
  display: block;
}

.header-tabs {
  display: flex;
  justify-content: space-between;
}
.header-tab__nav,
.add-new-items,
.account-settings {
  display: none;
}
.nav__item-link,
.header-tab__logo-search-nav {
  display: flex;
}

.sign-out {
  align-self: center;
}
.header {
  position: relative;
}

.header__search {
  position: absolute;
  top: 45px;
  right: 16px;
  left: 1em;
}
.notification-icon {
  align-self: center;
}

.account-settings__avatar,
.add-new-items,
.account-settings {
  align-self: center;
}

@media (min-width: 768px) {
  .hideable-nav,
  .hamburger-button {
    display: none;
  }
  .header-tab__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__search {
    position: static;
    align-self: center;
  }
  .header-tab__logo-search-nav {
    flex: 40%;
  }

  .add-new-items__icons,
  .account-settings__icons {
    display: flex;
  }

  .add-new-items,
  .add-new-items__dropdown-container {
    position: relative;
  }
  .add-new-items__dropdown,
  .add-new-items__dropdown-pointer {
    position: absolute;
  }
  .add-new-items__dropdown {
    right: 0px;
  }

  .add-new-items__dropdown-pointer {
    top: -5px;
    right: 11px;
    transform: rotate(45deg);
    background-color: white;
  }
}

/**
==============
COLORS
==============
*/
.header {
  background-color: var(--color-bg-secondary);
}
.nav__item,
.header-tab__nav {
  color: var(--color-bg-primary);
}
.header__search-input {
  background-color: transparent;
  color: var(--color-bg-primary);
}
.header__search-input::placeholder {
  color: var(--color-bg-primary);
  opacity: 0.7;
}

.add-new-items__dropdown-list {
  background-color: var(--color-bg-primary);
  color: var(--color-secondary);
}

/**
==============
SPACING
==============
*/

.header-tabs {
  margin-bottom: 0.5em;
}

.header {
  padding: 1em;
  padding-bottom: 0.1em;
}

.hamburger,
.logo {
  width: 2em;
  height: 2em;
}
.logo {
  margin-right: 1em;
}

.notification-icon {
  width: 1em;
  height: 1em;
}

.sign-out {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.header__search {
  margin-top: 1em;
}
.header__search-input {
  width: 100%;
  padding: 0.5em 0;
  padding-left: 0.5em;
}
.nav__item {
  padding: 0.5em 0;
}

.nav {
  margin-top: 5em;
}

.account-settings__avatar {
  height: 1.25em;
  width: 1.25em;
}

.add-new-items__dropdown-item {
  padding: 0.25em 0.5em 0.25em 1em;
}
.add-new-items__dropdown {
  z-index: 4;
}

.add-new-items__dropdown-pointer {
  padding: 0.5em;
  width: 6px;
}

@media (min-width: 768px) {
  .nav,
  .header__search {
    margin-top: 0px;
  }

  .header__search {
    width: 30%;
    max-width: 300px;
    margin-right: 1em;
  }
  .header-tab__nav {
    width: 50%;
    max-width: 400px;
  }
  .notification-icon,
  .add-new-items {
    margin-right: 1em;
  }
}

/**
==============
TYPOGRAPHY
==============
*/
.header__search-input::placeholder {
  font-size: var(--fs-primary);
}

.add-new-items__dropdown-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**
==============
OTHERS
==============
*/

.header__search-input {
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-primary);
}

.nav__item {
  border-top: 1px solid var(--color-accent);
}

.account-settings__avatar {
  border-radius: 100%;
}

.account-settings,
.add-new-items {
  cursor: pointer;
}

.add-new-items__dropdown-list {
  border-radius: 6px;
  border: 1px solid var(--color-border);
  box-shadow: 0.5px ​1px rgb(149 157 165 / 20%);
}
