/**
==============
LAYOUT
==============
*/

.hidden {
  display: none;
}
@media (min-width: 768px) {
  .main-area {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:block {
    display: block;
  }
}

/* information section */
.information-section__names-photo {
  display: flex;
}
.information-section__names {
  align-self: center;
}
.information-section__photo {
  z-index: 4;
  position: relative;
}
.second-nav {
  z-index: 3;
  position: sticky;
  top: 0px;
  background-color: var(--color-bg-primary);
}
.information-section__emoji-container {
  display: none;
}

@media (min-width: 768px) {
  .information-section {
    flex: 1 1 30%;
  }

  .information-section__names-photo {
    flex-direction: column;
  }
  .information-section__names {
    align-self: flex-start;
  }
  .information-section__bio {
    display: none;
  }

  .information-section__photo {
    position: relative;
    bottom: 26px;
  }
  .information-section__emoji-container {
    display: block;
    position: absolute;
    bottom: 48px;
    right: 4px;
  }
}

/* Second Navigation and Repos */

.second-nav__list {
  display: flex;
}
.repos__new-btn,
.repos__new-input {
  display: block;
}
.repos__search-new {
  display: flex;
  flex-direction: column;
}
.second-nav__icon {
  align-self: center;
}

.second-nav__link {
  display: flex;
}
.repos__new-btn {
  display: flex;
  justify-content: center;
}

.second-nav__item span {
  display: none;
}

@media (min-width: 507px) {
  .second-nav__item span {
    display: inline;
  }
}

@media (min-width: 768px) {
  .second-nav-repos,
  .second-nav__list {
    flex: 2 2 65%;
  }
  .second-nav__inner {
    display: flex;
  }

  .second-nav__empty {
    flex: 1 1 30%;
  }
  .repos__search-new {
    flex-direction: row;
    align-items: center;
  }
  .repos__new-btn {
    order: 2;
  }
}

/** ============== COLORS ============== */ /* information section */
.names__username {
  color: var(--color-primary);
}
.names__fullname {
  color: var(--color-secondary);
}
/* Second Navigation and Repos */
.repos__new-btn {
  background-color: var(--color-green);
  color: var(--color-bg-primary);
}

.second-nav__item {
  color: var(--color-secondary);
}
.second-nav__link__repos-no {
  background-color: rgba(209, 213, 218, 0.5);
}

.information-section__emoji-container {
  background-color: var(--color-bg-accent);
}

/**
==============
SPACING
==============
*/

.main-area {
  margin-top: 1em;
}
/* information section */
.information-section__names-photo {
  margin-bottom: 1.5em;
}
.information-section__photo {
  margin-right: 1em;
  width: 16%;
  height: 16%;
}
.information-section__profile-photo {
  width: 100%;
  height: 100%;
}

.names__fullname,
.names__username {
  margin: 0;
}
.information-section__bio {
  padding: 0.25em;
  margin-bottom: 0.75em;
}

.information-section__emoji-container {
  padding: 0.175em 0.25em;
}

@media (min-width: 768px) {
  .information-section__photo {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 2em;
  }
}

/* Second Navigation and Repos */
.second-nav__item {
  padding: 0.5em 1em;
}

.second-nav {
  padding: 0 1em;
}
.second-nav__list {
  margin-bottom: 0;
}
.repos__search-new {
  margin-top: 1em;
  padding-bottom: 1.5em;
}
.repos__new-btn {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.repos__new-input {
  padding: 0.5em 0.25em;
}
.second-nav__link__repos-no {
  padding: 0 0.375em;
}
.second-nav__link-text,
.second-nav__icon {
  margin-right: 0.5em;
}
.second-nav__icon {
  height: 16px;
  width: 16px;
}

@media (min-width: 768px) {
  .repos__new-btn {
    margin-bottom: 0px;
  }
  .repos__new-input {
    width: 95%;
    margin-right: 0.5em;
  }
}

/**
==============
TYPOGRAPHY
==============
*/
/* information section */
.names__fullname {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-secondary);
}

.names__username {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.information-section__bio > p {
  font-size: 0.75em;
}
.information-section__occupation {
  font-size: 1rem;
}

/* Second Navigation and Repos */
.nav-item__selected {
  font-weight: 600;
}
.second-nav__link__repos-no,
.second-nav__icon {
  font-weight: 400;
}

/**
==============
OTHERS
==============
*/
/* information section */
.information-section__photo,
.information-section__profile-photo {
  border-radius: 100%;
}
.information-section__bio {
  border-radius: 5px;
  border: 1px solid var(--color-border);
}

.information-section__bio > p::before {
  content: "🏠 ";
}
.information-section__emoji-container {
  border: 1px solid var(--color-border);
  border-radius: 100%;
}

/* Second Navigation and Repos */
.second-nav,
.repos__search-new {
  border-bottom: 1px solid var(--color-border);
}
.repos__new-input {
  border: 1px solid var(--color-border);
}
.repos__new-btn,
.repos__new-input {
  border-radius: 5px;
}

.nav-item__selected {
  border-bottom: 2px solid #f9826c;
}
.second-nav__link__repos-no {
  border-radius: 2em;
}
